.Flex_Participation {
    display: flex;
    align-items: center;
    justify-content: center; 
}

nav {
     border: 1px solid #000;
    height: 50px; 
}

h3 {color: #FF0000}

.grid {
    display: grid 2fr 1fr 1fr;
    grid-template-areas:
        "Lsquare Lsquare rec ."
        "Lsquare Lsquare rec Ssquare"
        "rec rec Lsquare Lsquare"
        "Ssquare . Lsquare Lsquare";
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid #0F0F0F;
    
}

.Lsquare { grid-area: Lsquare }
.rec {grid-area:rec}
.Ssquare {grid-area:Ssquare}
