.Flex_Participation {
    display: flex;
    align-items: center;
    justify-content: center; 
}

div {
    background-color: #FFF000;
    border: 1px green;
    border-radius: 0.05rem;
    margin: 5rem;
    font-size: 15pt;
}

nav {
     border: 1px solid #000;
    height: 50px; 
}

h3 {color: #FF0000}

